@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-pretendard: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../../public/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  @apply font-pretendard text-toss-gray-900 whitespace-pre-wrap
    break-keep overflow-x-hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .responsive-width {
    @apply w-[92%] max-sm:w-full max-sm:px-6;
  }
  .navbar-button-container {
    @apply sm:px-2 sm:h-full flex items-center bg-white max-sm:w-full;
  }
  .navbar-button {
    @apply whitespace-nowrap font-light sm:px-[10px] sm:py-[12px] rounded-lg text-[15px] text-toss-gray-700 sm:hover:bg-gray-100 cursor-pointer max-sm:px-5 max-sm:py-[18px] max-sm:rounded-none max-sm:w-full max-sm:hover:bg-gray-100 leading-[20px];
  }
  .navbar-language-button {
    @apply px-[10px] py-3 rounded-lg text-[15px] font-light text-toss-gray-700 sm:hover:bg-gray-100 max-sm:px-5 max-sm:py-[17px] max-sm:rounded-none;
  }
  .default-title-container {
    @apply flex flex-col gap-[30px] max-sm:gap-[10px];
  }
  .img {
    @apply w-full h-auto;
  }
  .img-container {
    @apply w-[57%] h-[79%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 overflow-hidden;
  }
  .sm-white-overlay {
    height: 300px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 90%
    );
  }
  .white-overlay {
    height: 600px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0) 85%
    );
  }

  .white-text-shadow {
    text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.45);
  }
  .dropdown-shadow {
    box-shadow: 0 24px 40px 0 rgba(0, 23, 51, 0.02),
      0 16px 24px 0 rgba(0, 27, 55, 0.1), 0 0 8px 0 rgba(2, 32, 71, 0.05);
  }
  .appstore-button {
    background-color: rgba(0, 12, 30, 0.8);
    @apply pl-[14px] pr-[16px] py-[11px] text-white flex items-center gap-2 rounded-lg text-[17px] whitespace-nowrap shrink-0 leading-none tracking-[0.01rem];
  }

  .percent-number {
    @apply relative flex w-[3%] h-full justify-center items-start bg-white;
  }
}
