@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-pretendard: "Pretendard", sans-serif;
}

body {
  @apply font-pretendard text-gray-900 whitespace-pre-wrap break-keep;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .responsive-width {
    @apply w-[92%] max-sm:w-full max-sm:px-6;
  }
  .navbar-button-container {
    @apply sm:px-2 sm:h-full flex items-center bg-white max-sm:w-full;
  }
  .navbar-button {
    @apply whitespace-nowrap sm:px-[10px] sm:py-[10px] rounded-lg text-[15px] text-gray-600 sm:hover:bg-gray-100 cursor-pointer max-sm:px-5 max-sm:py-[17px] max-sm:rounded-none max-sm:w-full max-sm:hover:bg-gray-100;
  }
  .navbar-language-button {
    @apply font-normal px-[10px] py-3 rounded-lg text-[16px] text-gray-600 sm:hover:bg-gray-100 max-sm:px-5 max-sm:py-[17px] max-sm:rounded-none;
  }
  .default-title-container {
    @apply flex flex-col gap-[30px] max-sm:gap-[10px];
  }
  .img {
    @apply w-full h-auto;
  }
  .img-container {
    @apply w-[57%] h-[79%] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 overflow-hidden;
  }
  .white-overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .white-text-shadow {
    text-shadow: 0px 1px 20px rgba(0, 0, 0, 0.45);
  }
  .appstore-button {
    background-color: rgba(0, 12, 30, 0.8);
    @apply pl-[14px] pr-[16px] py-[11px] text-white flex items-center gap-2 rounded-lg text-[18px] whitespace-nowrap shrink-0 leading-none;
  }
}
