@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  white-space: nowrap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .navbar-button {
    @apply p-3 rounded-lg font-normal text-sm text-gray-500 hover:bg-gray-100;
  }
  .white-overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
